<body class="w3-light-grey" >
	<div id="all">
<h1>Posts</h1>

<%= form_tag(posts_path, method: :get) do %>
  <div class="col-lg-4">
	<%= text_field_tag 'search', nil, placeholder: 'Enter search term...', :class => 'form-control' %>
  </div>
	<%= submit_tag "Search", :id => "button_search", :class => 'btn btn-default'%>
<% end %><br>


<div class="w3-card-4 w3-margin w3-white">
<!--<div class="w3-row">-->
<% @posts.each do |post| %>


<!-- Blog entries -->
<div class="w3-col 18 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img ><%= image_tag post.avatar.url(:thumb) %></img>
    <div class="w3-container">
      <h3><b><%= link_to post.title, post %> </b></h3>
      <h5><span class="w3-opacity"><%= time_ago_in_words(post.created_at) %></span></h5>
    </div>

    <div class="w3-container">
      <p><%= post.body %></p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b><%= link_to "READ MORE »", post %></b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments</b> 
          		<span class="w3-tag"><%= post.comments.count %></span>
          	</span></p>
        </div>
      </div>
    </div>

  </div>
</div><% end %>

</div><!--</div>--><br><br>

<div class="w3-col 22 s22">
	<% if current_user.admin? %>

		<%= link_to t('.new', :default => t("helpers.links.new")), new_post_path, :id => 'buttons', :class => 'btn btn-primary' %>
		<br>
		<p>
			<h4>Download:</h4>
			<%= link_to 'CSV', posts_path(format: "csv"), :id => 'buttons', :class => 'btn btn-default' %>
			<%= link_to 'Excel', posts_path(format: "xls"), :id => 'buttons', :class => 'btn btn-default' %>
		</p><hr><hr><br>
		<h2>Deleted Posts: </h2> 
	</div>



	<% @posts.only_deleted.each do |post| %>
	<div class="w3-card-4 w3-margin w3-white">

		<div class="w3-col 18 s12">
  
  			<div class="w3-card-4 w3-margin w3-white">
    			<img ><%= image_tag post.avatar.url(:thumb) %></img>
    			<div class="w3-container">
      				<h3><b><%= link_to post.title, post %> </b></h3>
      				<h5><span class="w3-opacity"><%= time_ago_in_words(post.created_at) %></span></h5>
    			</div>

    			<div class="w3-container">
      				<p><%= post.body %></p>
      				<div class="w3-row">
        				<div class="w3-col m8 s12">
          					<p><button class="w3-button w3-padding-large w3-white w3-border"><b><%= link_to "READ MORE »", post %></b></button></p>
        				</div>
        				<div class="w3-col m4 w3-hide-small">
          				<p><span class="w3-padding-large w3-right"><b>Comments</b> 
          					<span class="w3-tag"><%= post.comments.count %></span>
          				</span></p>
        				</div>
      				</div>
    			</div>
	  		</div>
		</div>
	</div>
	
	<%= link_to 'Undelete', post_path(post.id, type: :undelete), method: :delete, :id => 'buttons', :class => 'btn btn-success' %>
 	<%= link_to 'Really delete', post_path(post.id, type: :forever), method: :delete, :id => 'buttons', :class => 'btn btn-danger' %>
 	
  			
		<% end %>
	<% end %>

<br><br><br><br>

<h3><%= link_to '<==Home', root_path, :id => 'buttons'%></h3>
</div>
</body>